  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kalam:wght@400;700&display=swap');

  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Kalam', cursive; */

  /* ----------Default Styles------------- */
  :root{
    --primary_color: #c9791b;
    --hover_color: #e68608;
    --text_color: #f0f8ff;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.btn{
    border: none;
    padding: 8px 28px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary_color);
    color: var(--text_color);
    font-weight: 600;
    transition: .2s all ease-in-out;
}
.btn:hover{
    background-color: var(--hover_color);
}

/* ----------------Header Section--------------- */

.header_section{
    background-color: #555555;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo .main_logo{
    font-size: 3rem;
}
.logo h1{
    font-size: 2.2rem;
    color: var(--text_color);
    padding-left: 10px;
}
.logo h1 span{
    color: var(--primary_color);
}
.logo img{
    max-width: 50px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 100px;
}
.menu li a{
    color: var(--text_color);
    font-size: 1.3rem;
    font-weight: 700;
}
.menu li a:hover{
    color: var(--hover_color);
}
.menu .login{
    padding: 6px 15px;
    border-radius: 10px;
    background-color: var(--primary_color);
    transition: .2s all ease-in-out;
}
.menu .login:hover{
    background-color: var(--hover_color);
    color: var(--text_color);
}
.menu .login i{
    padding-left: 10px;
}


.banner_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #616161;
    padding: 100px 100px 20px;

}
.banner_content h1{
    background-image: linear-gradient(to bottom, #c16f0f, #e893cf);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 6rem;
}
.banner_content p{
    color: var(--text_color);
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
}
.banner_content{
    width: 50%;
}
.banner_img{
    width: 50%;
}
.banner_img img{
    max-width: 100%;
    border-radius: 20px;
}







































